body {
  font-family: "Rubik", sans-serif;
}

.jumbotron {
  border: none;
}

.everything {
  background-image: url("../images/desert.jpg");
  background-repeat: no-repeat;
}
.character {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 2px solid #3a3a3a;
}

.players {
  margin-bottom: 20px;
}
.pic {
  width: 100%;
}

h1.title {
  margin: 0;
}

.player,
.enemy {
  padding: 10px;
}

.characterList .pic {
  max-width: 80px;
}

#mainfooter {
  clear: both;
  background-color: #666666;
  color: #ffffff;
  border-top: solid #4aaaa5;
  box-sizing: border-box;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  overflow: hidden;
  z-index: 4;
}
