body {
  font-family: "Rubik", sans-serif;
}

.jumbotron {
  border: none;
}

.everything {
  background-image: url("../images/desert.jpg");
  background-repeat: no-repeat;
}
.character {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 2px solid #3a3a3a;
}

.players {
  margin-bottom: 20px;
}
.pic {
  width: 100%;
}

h1.title {
  margin: 0;
}

.player,
.enemy {
  padding: 10px;
}

.characters .pic {
  max-width: 80px;
}
